body{
    background-color: #008080;
}

@font-face{
    font-family: Windows;
    src: url("./font/Windows\ Regular.ttf");
}
*{
    padding: 0;
    font-family: Windows;
}

h2{
    color: whitesmoke;
    font-size: 18px;
    font-weight: normal;
    font-family: Windows,'Times New Roman';
}

.box{
    position: relative;
    left: 15px;
    top: 5px;
}

.middle{
    position: relative;
    top: 18%;
    left: 20%;
}

.middle img{
    width: 500px;
    height: 500px;
}

.image-content p{
    position: absolute;
    font-size: 30px;
    left: 30px;
    top: 80px;
    width: 400px;
}

.dog img{
    position: absolute;
    height: 150px;
    width: 150px;
    left: 300px;
    top: 310px
}

.sidebar{
    position: absolute;
    top: 130px;
    left: 1000px;
}
.sidebar div img{
    width: 48px;
    height: 48px;
}
.sidebar div p{
    margin-top: 0px;
    margin-left: -18px;
    margin-bottom: 20px;
}

.button{
    text-decoration: none;
}

.button:hover{
    color: whitesmoke;
}

.box1 img{
    position: fixed;
    height: 40px;
    width: 1450px;
    bottom: -5px;
    left: -5px;
}